@CHARSET "UTF-8";

/*

#004080 : 남색
#d9d9d9 : 연한 회색

*/

@media only screen and (max-width:760px) {

#wrap {
	display: flex;
	flex-flow: column nowrap;
	min-width: 320px;
	height: 100%;
}
.nav-category--join {
	display: flex;
}
.nav-category--join > ul {
	width: 100%;
}
.nav-category--join > ul > li {
	float: left;
	width: 50%;
	height: 60px;
	border: 1px solid #808080;
	text-align: center;
	line-height: 60px;
	text-decoration: none;
	font-size: 18px;
}
.nav-category--selected {
	background-color: #426acd;
	color: #fff;
}
.section-user__company {
	display: none;
}
.section-user__title {
	margin: 20px 10px 5px;
	font-size: 30px;
	font-weight: bold;
}
.section-user {
	padding: 5px 0;
}
.section-user ul {
	padding: 5px 10px;
}
.section-user li {
	display: flex;
	padding-left: 14px;
	border: 1px solid #c0c0c0;
	border-bottom: 0;
}
.section-user li:NTH-CHILD(7), .section-user li:LAST-CHILD {
	border-bottom: 1px solid #c0c0c0;
}
.section-user li.must {
	background: url("/images/bul_must.png") no-repeat 5px 15px;
}
.must-info {
	display: none;
}
.section-user input {
	width: 100%;
	height: 34px;
	border: 0;
	text-indent: 10px;
}
.area-gender {
	display: flex;
	line-height: 34px;
	font-size: 14px;
}
.area-gender span {
	padding: 0 10px;
	color: #8f8f8f;
}
.area-gender input {
	width: 16px;
	height: 32px;
}
.section-user__submit {
	margin: 5px 10px;
}
.section-user__submit > button {
	width: 100%;
	height: 40px;
	color: #fff;
	background-color: #000000;
}
	
}

@media only screen and (min-width:760px) {
	
body {
	background-color: #f1f1f1;
}
#wrap {
	display: flex;
	flex-flow: column nowrap;
	width: 620px;
	height: 100%;
	margin: 0 auto;
	background-color:  #f1f1f1;
}
.nav-category--join {
	display: flex;
	cursor: pointer;
	background-color: #fff;
}
.nav-category--join > ul {
	width: 100%;
}
.nav-category--join > ul > li {
	float: left;
	width: 50%;
	height: 60px;
	border: 1px solid #808080;
	text-align: center;
	line-height: 60px;
	text-decoration: none;
	font-size: 18px;
}
.nav-category--selected {
	background-color: #426acd;
	color: #fff;
}
.section-user__company {
	display: none;
}
.section-user__title {
	margin: 20px 10px 5px;
	font-size: 30px;
	font-weight: bold;
}
.section-user {
	padding: 5px 0;
	background-color: #fff;
}
.section-user ul {
	padding: 5px 10px;
}
.section-user li {
	display: flex;
	padding-left: 14px;
	border: 1px solid #c0c0c0;
	border-bottom: 0;
}
.section-user li:NTH-CHILD(7), .section-user li:LAST-CHILD {
	border-bottom: 1px solid #c0c0c0;
}
.section-user li.must {
	background: url("/images/bul_must.png") no-repeat 5px 15px;
}
.must-info {
	width: 50%;
	padding-right: 5px;	
	text-align: right;
	line-height: 34px;
	font-size: 12px;
}
.section-user input {
	width: 50%;
	height: 34px;
	border: 0;
	text-indent: 10px;
}
.area-gender {
	display: flex;
	line-height: 34px;
	font-size: 14px;
}
.area-gender span {
	padding: 0 10px;
	color: #8f8f8f;
}
.area-gender input {
	width: 16px;
	height: 32px;
}
.section-user__submit {
	margin: 5px 10px;
}
.section-user__submit > button {
	width: 100%;
	height: 40px;
	color: #fff;
	background-color: #000000;
}	
}
	
	
